*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}

header{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 30px;
}

/* nav style */
nav h4{
    color: rgb(58, 58, 58);
    font-size: 1.2rem;
    font-weight: 700;
}
.nav-section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 490px;
}
.nav-section ul li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: 600;
    font-size: 1rem;
}
.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 34px;
}


/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 50px;
    gap: 85px;
    background: url("../images/Circle\ design.svg"); 
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 450px;
}

.banner-description{
    max-width: 650px;
}
.banner-description h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    margin-bottom: 16px;
}

.banner-description p{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(58, 58, 58);
    margin-bottom: 16px;
}

.btn-primary{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    padding: 10px 24px 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
}

.banner-img{
    max-width: 475px;  
        
}
.banner-img img{
    padding: 30px 33px 31px 2px;
    width: 100%;
}

/* sponsor */

.sponsor{
    max-width: 1110px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 70px;
}